{% extends 'base.html.twig' %}

{% block title %}Contrats
{% endblock %}

{% block javascripts %}
		
			<script> 
				function afficherContratsArchives() {
    			var bouttonContratsArchives = document.getElementById("contratsArchives");
    			if (bouttonContratsArchives.style.display === "none") {
     			 bouttonContratsArchives.style.display = "block";
    			} else {
      			bouttonContratsArchives.style.display = "none";
   				 }
  			}
			</script>
{% endblock %}
{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<h1>Liste des contrats de
		{{ client.nom }}
		{{ client.prenom }}
	</h1>
	<td><a href="{{path('contrat_create')}}" role="button" class="w3-btn w3-white w3-border w3-border-yellow w3-round-xlarge">Ajouter un contrat</a></td>
	{% for contrat in client.contrats %}
		{% if contrat.archivé == false %}
		
			<h2>contrat :{{contrat.id}}</h2>
			<table class="w3-table w3-bordered w3-centered ">
				<tr>
					<th>Surface</th>


					<th>Montant du loyer</th>
					<th>Montant restant à payer</th>
					<th>Date de la prochaine échéance</th>
				</tr>


				<tr>
					<td>{{contrat.surface}}</td>

					<td>{{contrat.loyer}}</td>
					<td>{{contrat.MontantRestant}}</td>
					<td>{{contrat.ProchaineEcheance | date('d/m/y')}}</td>
					<td>
						<a href="{{path('contrat_delete',{'contratId':contrat.id})}}" onclick="return confirm('etes vous sur de vouloir supprimer ce client?')" role="button" class="w3-btn w3-white w3-border w3-border-red w3-round-xlarge">supprimer</a>
					</td>
					<td>
						<a href="{{path('contrat_update',{'contratId':contrat.id})}}" role="button" class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge">modifier</a>
					</td>
					<td>
						<td><a href="{{path('payements_display',{'contratId':contrat.id})}}" role="button" class="w3-btn w3-white w3-border w3-border-purple w3-round-xlarge">payements</a></td>
					</td>
					<td>
						<td><a href="{{path('contrat_archiver',{'contratId':contrat.id})}}" role="button" class="w3-btn w3-white w3-border w3-border-brown w3-round-xlarge">archiver</a></td>
					</td>
				</tr>
			</table>
			{% endif %}
			{% endfor %}
			<button onclick="afficherContratsArchives()">Les contrats archivés</button>
		
			
			<div id="contratsArchives">
	  			<table>
				  	<tr>
						<th>Surface</th>


						<th>Montant du loyer</th>
						<th>Montant restant à payer</th>
						<th>Date de la prochaine échéance</th>
					</tr>
				{% for contrat in client.contrats %}	
					{% if contrat.archivé == true %}
					<tr>
						<td>{{contrat.surface}}</td>

						<td>{{contrat.loyer}}</td>
						<td>{{contrat.MontantRestant}}</td>
						<td>{{contrat.ProchaineEcheance | date('d/m/y')}}</td>
					</tr>
					{% endif %}
				{% endfor %}

				</table> 
			</div>
			
			
			
	

	

{% endblock %}
