{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Interloc ! {% endblock %}

{% block body %}
    <h1 class='titre'>Bienvenue sur Interloc !</h1>
    <p class='paragraphe'>Gérez vos bails en toute simplicité avec notre tout nouveau Gestionnaire de location !
    Les différentes étapes de vos contrats seront suivis par notre application.
    De leurs créations à leur archivage.
    N'hésitez pas à créer un compte dès maintenant <a class="btn btn-success text-light" href="{{path('app_register')}}" >en cliquant ici !</a>
    </p>
    <div class="d-flex flex-column flex-lg-row justify-content-center  w-100"id="etapes" >
        
        <figure class="figure ">
            <img src="{{asset('images/portrait.png ')}}" class= " figure-img border border-success rounded-circle border-3"  alt="etape-client">
            <figcaption class="figure-caption text-right rounded-5 border border-success rounded-pill  text-light p-3">Commencez par créer votre client ...</figcaption>
        </figure>
        <figure class="figure"> 
            <img src="{{asset('images/fleche.png')}}"class=" figure-img"  alt="fleche">
            

        </figure>
        <figure class="figure">
            <img src="{{asset('images/contracter.png')}}"class=" figure-img border border-success rounded-circle border-3"  alt="etape-contrat">
            <figcaption class="figure-caption text-right rounded-5 border border-success rounded-pill  text-light p-3">Puis liez lui un contrat ...</figcaption>       
        </figure>
         <figure class="figure">
            <img src="{{asset('images/fleche.png')}}"class=" figure-img"  alt="fleche">
            
         </figure>
        <figure class="figure">
            <img src="{{asset('images/paiement.png')}}"class=" figure-img border border-success rounded-circle border-3"  alt="etape-paiement">
            <figcaption class="figure-caption text-right rounded-5 border border-success rounded-pill text-light p-3">Il ne vous reste plus qu'a gérer les paiements qui lui seront liés !</figcaption>
        </figure>
        

    </div>
    <br></br>
    <div></div>

    



{% endblock %}
