{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <h1>Bienvenue sur Interloc !</h1>
    <p>Gérer vos bails </p>
    <div class="d-flex justify-content-center  w-100"id="etapes" >
        
        <figure class="figure">
            <img src="{{asset('images/portrait.png ')}}" class=" figure-img" alt="etape-client">
            <figcaption class="figure-caption text-right">Commencez par créer votre client ...</figcaption>
        </figure>
        <figure class="figure"> 
            <img src="{{asset('images/fleche.png')}}"class=" figure-img"  alt="fleche">
            <figcaption class="figure-caption text-right"></figcaption>

        </figure>
        <figure class="figure">
            <img src="{{asset('images/contracter.png')}}"class=" figure-img"  alt="etape-contrat">
            <figcaption class="figure-caption text-right">Puis liez lui un contrat ...</figcaption>       
        </figure>
         <figure class="figure">
            <img src="{{asset('images/fleche.png')}}"class=" figure-img"  alt="fleche">
            <figcaption class="figure-caption text-right"></figcaption>
         </figure>
        <figure class="figure">
            <img src="{{asset('images/paiement.png')}}"class="figure-img"  alt="etape-paiement">
            <figcaption class="figure-caption text-right">Il ne vous reste plus qu'a gérer les paiements qui lui seront liés !</figcaption>
        </figure>
        

    </div>

    



{% endblock %}
