{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<a href="{{path('payement_create',{'contratId':contrat.id})}}" role="button" class="w3-btn w3-white w3-border w3-border-yellow w3-round-xlarge">Archiver un payement</a>
	
	<form class="w3-container w3-card-4 w3-green w3-text-white">
<h2 class="w3-center">Entrer un nouveau règlement</h2>
 
<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="material-icons-outlined">
euro_symbol
</i></div>
    <div class="w3-rest">
      {{ form(form) }}
    </div>
</div>



<br>
<a class="w3-btn w3-margin-bottom" href="tryit.asp?filename=tryw3css_input_contact" target="_blank">Enregistrer</a>
</form>
	
	
	<h1>Liste des payements de
		{{ contrat.client.nom }}
		{{ contrat.client.prenom }}
		pour le contrat:
		{{ contrat.id }} 
	</h1>
	
	{% for payement in payements %}
			{% if payement is not null %}	

		
			<h2>payement :{{payement.id}}</h2>
			<table class="w3-table w3-bordered w3-centered ">
				<tr>
					<th>Somme payee</th>

					
					<th>Moyen payement</th>
					<th>Date</th>
				</tr>


				<tr>
					<td>{{payement.SommePayee}}</td>
					
					<td>
						{{payement.MoyenPayement}}


					</td>
					<td>
					{{payement.date|date('d/m/Y')}}
					</td>
					
				</tr>
			</table>
			{% endif %}
		
	{% endfor %}

{% endblock %}
