<nav class="navbar navbar-expand-lg bg-success">
	<div class="container-fluid d-flex justify-content-end" >
		<a class="navbar-brand h-100 " href="{{path('app_index')}}" id='logo'><img class='h-100' src='{{asset('images/logo.png')}}'></a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse " id="navbarSupportedContent">
			<ul class="navbar-nav  mb-2 mb-lg-0 ">
				<li class="nav-item bg-success ">
					<a class="nav-link active text-light h-100" aria-current="page" href="{{path('app_index')}}">Index</a>
				</li>


				{% if is_granted ('ROLE_USER')%}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle bg-success text-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Vos options
						</a>
						{% if is_granted ('ROLE_ADMIN')%}
							<ul class="dropdown-menu bg-success">
								<li>
									<a class="dropdown-item bg-success text-light" href="{{path('admin_backoffice')}}">Client</a>
								</li>
								<li>
									<a class="dropdown-item bg-success text-light" href="{{path('app_logout')}}">Deconnection</a>
								</li>
							</ul>


						{% else %}

							<ul class="dropdown-menu bg-success">
								<li>
									<a class="dropdown-item bg-success text-light" href="{{path('app_client')}}">Client</a>
								</li>
								<li>
									<a class="dropdown-item bg-success text-light" href="{{path('app_logout')}}">Deconnection</a>
								</li>
							</ul>
						{% endif %}
					</li>

				{% else %}
					<li class="nav-item bg-success text-light">
						<a class="nav-link active text-light" aria-current="page" href="{{path('app_register')}}">S'inscrire</a>
					</li>
					<li class="nav-item bg-success">
						<a class="nav-link active text-light" aria-current="page" href="{{path('app_login')}}">Se connecter</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
